html {
    width: 200px;
}

.frame {
    margin: 5%;
}

.line {
    display: flex;
    align-items: center;
    line-height: 4em;
}

label {
    flex: 1 1 40%;
    font-size: small;
}

select {
    flex: 1 1 60%;
    width: 60%;
    max-width: 130px;
    height: 25px;
    background-color: #eee;
}

footer {
    font-size: xx-small;
    color: gray;
    text-align: center;
}

a {
    color: gray;
}