/*
 * 翻译结果展示页框架样式
 */

#translate_frame
    height: 100%;
    width: 20%;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    border: none;
    z-index: 10000;
    transition: right 300ms;
    overflow-y: scroll;
    box-sizing: border-box;
