<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="<% chrome.runtime.getURL('display/style/loading.css') %>">
    </head>
    <body>
        <div class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-ellipsis">
                <div>
                    <div>
                    </div>
                </div>
                <div>
                    <div>
                    </div>
                </div>
                <div>
                    <div>
                    </div>
                </div>
                <div>
                    <div>
                    </div>
                </div>
                <div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
