@font-face {
  font-family: "translateIcon";
  src: url('iconfont.eot?t=1531413692893');
  /* IE9*/
  src: url('iconfont.eot?t=1531413692893#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAZIAAsAAAAACRgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW7kglY21hcAAAAYAAAAB5AAAByJtVz5JnbHlmAAAB/AAAAjsAAAKURi9eqmhlYWQAAAQ4AAAALwAAADYR+o91aGhlYQAABGgAAAAcAAAAJAfeA4dobXR4AAAEhAAAABMAAAAYF+kAAGxvY2EAAASYAAAADgAAAA4CqAG+bWF4cAAABKgAAAAfAAAAIAEVAF1uYW1lAAAEyAAAAUUAAAJtPlT+fXBvc3QAAAYQAAAAOAAAAE2vOsAjeJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/sM4gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVDwzZ27438AQw9zA0AAUZgTJAQAovQyneJzFkcsNhTAMBMcQPkJ0wJUjd3pAr54nDtTrNmCdwIEK2Gii7MqKoxhogFosIoEdGKG/Ust5zZDzxCY/0lPpvHvnk8++nqfSt3tkqn5WuEp3pehoLZ/Jvmv91pj33+1iDvuNnuhdQX+GT4WYk8+FmJWvBZoLCF0ZPwAAAHicbVJNa9RQFH3nZZJMZqYTJ8nkzSSdpJmvV0k6xXQmmVLagnSjCAqC0EVbXChudNsuXAxCQUSkrgruOgjqP3BR6k4Qwa1Q3BSLLrQguirF1Ey79fI4953L5cI95xKRkNMDYVeoEJ1MkktkidwgBJKPepHW4PFuh/ooe2KZGUWBN7gnN+odYR6sLhlmGHXbTJIlFUU4mPHCiHcoR6+7QOcQmjWgals3tda4JmwhV+HOZnKVDlF2G+PqwlRyJVg0wgk9u17QtKqmPc1KopilNKMWcZ+ZiqjkpOSlqFrlXfcidVGocuva8tiErd1+3H1QazEFGAyg2xPFV4slq5S+h5apa1X5wli2Yo01mgbWD/MVvVBrfyVpYATCD+EOMQmJwcww5oswo2m0JbmspujiOa5vZkIp8/6WFLi/M30cPMnw/CMG5RmtbR2KcII/NO9ffqeg5g3OZp4OhGVhQPyUtKcRxQuIO+BeEbJhMtOFJKdfB3MoOQijuDSTQgf0VxBRTW1xwGHJBnMw2VJL6E+FvVHlCE7HwVFaRg8fHG0vl7OXuGEBlsGX7Jyyp7vNla5hJx8NyzLQs43uyvmOpy+Eb8JdYhOioJ3alOo08ipWMDKMK0hdq8uUJKsFt1LATrJWYF4eQwxHPFnDzhl/e56T1f/3jaQ80/Me/U7yRE3vhyCGzGQuI+axyGMGucWFeT/56TdP+gFWg9kvyfH2ycbfNxRqhNc+dL+5Pxskw6B//Gl7fyNp08/RPzJQeSMAeJxjYGRgYABiV2cF2Xh+m68M3CwMIHA9d+keBP2/gYWBuQHI5WBgAokCAAVKCdAAeJxjYGRgYG7438AQw8IAAkCSkQEVsAEARwwCb3icY2FgYGB+ycDAwoCKARKfAQEAAAAAAAB2AKAA6AEeAUoAAHicY2BkYGBgYwhkYGUAASYg5gJCBob/YD4DABFIAXMAeJxlj01OwzAQhV/6B6QSqqhgh+QFYgEo/RGrblhUavdddN+mTpsqiSPHrdQDcB6OwAk4AtyAO/BIJ5s2lsffvHljTwDc4Acejt8t95E9XDI7cg0XuBeuU38QbpBfhJto41W4Rf1N2MczpsJtdGF5g9e4YvaEd2EPHXwI13CNT+E69S/hBvlbuIk7/Aq30PHqwj7mXle4jUcv9sdWL5xeqeVBxaHJIpM5v4KZXu+Sha3S6pxrW8QmU4OgX0lTnWlb3VPs10PnIhVZk6oJqzpJjMqt2erQBRvn8lGvF4kehCblWGP+tsYCjnEFhSUOjDFCGGSIyujoO1Vm9K+xQ8Jee1Y9zed0WxTU/3OFAQL0z1xTurLSeTpPgT1fG1J1dCtuy56UNJFezUkSskJe1rZUQuoBNmVXjhF6XNGJPyhnSP8ACVpuyAAAAHicY2BigAAuBuyAjZGJkZmRhZGVkY2RnYGxgjkts4KtpDQlMy+dLb00MS8pkx3CM2RgAACgfgnH') format('woff'), url('iconfont.ttf?t=1531413692893') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1531413692893#iconfont') format('svg');
  /* iOS 4.1- */
}

.translate-icon {
  font-family: "translateIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #aaa;
  width: 5%;
  cursor: pointer;
}

/* 关闭页面的图标 */

.translate-icon-close {
  position: relative;
  top: 10px;
  left: 94%;
}

.translate-icon-close:hover {
  color: #777;
}

.translate-fix {
  font-size: larger;
  position: relative;
  top: 12px;
  left: 90%;
}

.translate-fix:hover {
  color: #777;
}

.translate-icon-tuding-full {
  display: none;
}

.translate-icon-tuding-fix::before {
  content: '\e607';
}

.translate-icon-tuding-full::before {
  content: "\e61b";
}

.translate-icon-close::before {
  content: "\e624";
}

#translate_frame {
  height: 100%;
  width: 20%;
  padding: 0 2%;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: -2px 0 1px 1px #ddd;
  z-index: 10000;
  transition: right 300ms;
  overflow-y: scroll;
  box-sizing: border-box;
}

.translate-content-title {
  color: gray;
  font-size: medium;
}

.translate-word-type {
  color: gray;
  font-size: smaller;
}

.translate-common-meanings-content {
  font-size: small;
  font-weight: lighter;
  position: relative;
  left: 12%;
}

.translate-main-meaning-content-larger {
  font-size: 30px;
  font-weight: medium;
}

.translate-main-meaning-content-large {
  font-size: large;
  font-weight: medium;
}

.translate-main-meaning-content-small {
  font-size: medium;
  font-weight: medium;
}

.translate-main-meaning-content-smaller {
  font-size: medium;
  font-weight: medium;
}

.translate-content {
  font-size: smaller;
  display: block;
  margin-left: 15%;
  font-weight: light;
}

.translate-synonyms-words {
  font-size: smaller;
  display: block;
  margin-left: 15%;
  font-weight: light;
}

.translate-list li {
  list-style-type: none;
}

.translate-sentences {
  font-size: smaller;
  display: block;
  font-weight: light;
}

/* 对翻译按钮的样式 */
#translate-button {
  padding: 0 3px;
  position: absolute;
  background-color: white;
  display: none;
  box-shadow: 0px 0px 2px 2px #ddd;
  cursor: pointer;
  border-radius: 1px;
  z-index: 2147483648;
}

#translate-button:hover {
  box-shadow: 0px 0px 2px 2px #ccc;
}