icon-size = 0.9em;
color-primary = #4a8cf7;
light-primary = rgba(74, 140, 247, 0.7);
CommonPrefix = edge-translate-;
Gray = #919191;
PaddingHorizon = 3%;
MarginHorizon = 2%;

/**
 * start icon style
 */
.edge-translate-icon {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    font-size: x-large;
    display: block;
    margin: 2px;

    svg {
        width: icon-size;
        height: icon-size;
        vertical-align: bottom;
        display: block;
    }
}

/**
 * end icon style
 */
/**
 * start scrollbar style
 */
::-webkit-scrollbar {
    width: 10px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    min-height: 15px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    :hover {
        background: rgba(0, 0, 0, 0.6);
    }
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
}

::-webkit-scrollbar-track-piece {
    background: rgba(255, 255, 255, 0);
}

/**
 * end scrollbar style
 */
