@import 'result.styl';
@import 'loading.styl';
@import 'error.styl';

ImageRange = 4px;
MaxZIndex = 2147483647;

/*
 * style of translation result panel
 */
#{CommonPrefix}panel {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: MaxZIndex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 6px;
    overflow: visible;
    line-height: 1;
    background-image: url('../../../image/background.png');

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        backdrop-filter: blur(6px);
        height: 100%;
        border-radius: 6px;
    }
}

#{CommonPrefix}head {
    padding: 0.5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    overflow: hidden;
    cursor: grab;

    #{CommonPrefix}head-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .{CommonPrefix}head-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
        font-size: 18px;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;

        svg {
            fill: Gray;
            width: 18px;
            height: 18px;
            display: block;
        }
    }
}

#{CommonPrefix}source-option {
    box-sizing: border-box;
    font-weight: normal;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem PaddingHorizon;
    margin: 0.2rem MarginHorizon;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;

    span {
        padding: 0.5rem;
        margin-right: 0.5rem;
    }
}

#{CommonPrefix}body {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    flex-grow: 1;
    flex-shrink: 1;
    word-break: break-word;
    color: black;
}

#{CommonPrefix}panel-highlight {
    height: 100%;
    background: color-primary;
    opacity: 0.3;
    position: fixed;
    top: 0;
    z-index: MaxZIndex;
}
