@import 'common.styl';

#edge-translate-error-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    // "justify-content center;" may cause part of content hidden when overflowing.
    // use pseudo elements to simulate its effect
    &::before, &::after {
        content: '';
        flex: 1;
    }

    .edge-translate-icon {
        align-self: center;
        width: 150px;
        height: 150px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin: 10% 5%;

        .error-type {
            font-weight: bold;
            font-size: large;
        }
    }
}

#icon-failure {
    display: block;
    cursor: auto;

    svg {
        fill: #dd5145;
        width: 150px;
        height: 150px;

        :hover {
            fill: #dd5145;
        }
    }
}