/*
 * 划词翻译按钮样式
 */
#translate-button
    padding: 0 3px;
    position: absolute;
    background-color: white;
    display: none;
    box-shadow: 0px 0px 2px 2px #ddd;
    cursor: pointer;
    border-radius: 1px;
    z-index: 2147483648;


#translate-button:hover
    box-shadow: 0px 0px 2px 2px #ccc;
