image-size = 20px;
/*
 * 划词翻译按钮样式
 */
#translate-button
    width: image-size;
    height: image-size;
    padding: 0.4%;
    position: absolute;
    // background-color: white;
    display: none;
    // box-shadow: 0px 0px 2px 2px #ddd;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2147483648;
    box-sizing: content-box;
    transition: box-shadow 200ms ease-in-out,transform 0.3s ease; // set transtition effect on hover occurs
    
    img
        width: image-size;
        height: image-size;
        border: 0;
        vertical-align: top; // fix the style problem in some websites


#translate-button:hover
    box-shadow: 0px 0px 8px 3px #bbb;
    transform: rotate(180deg);
