icon-size = 1em;
color-primary = #4a8cf7;

html {
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
    z-index: 10000;
}

body {
    height: 100%;
    padding: 10%;
    box-sizing: border-box;
}

/**
 * start icon style
 */
.icon {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    fill: #aaa;
    cursor: pointer;
    font-size: larger;
    position: relative;

    svg {
        width: icon-size;
        height: icon-size;
        vertical-align: bottom;
    }

    :hover {
        fill:  #777;
    }
}

/* 关闭页面的图标 */
#icon-close {
    left: 90%;
}

.icon-fix {
    left: 85%;
    display: none;
}

.icon-pronounce {
    position: static;

    svg{
        padding-bottom: 1%; 
    }

    :hover {
        fill: color-primary !important;
    }
}

/**
 * end icon style
 */
/**
 * start scrollbar style
 */
::-webkit-scrollbar {
    width: 10px;
    background: rgba(118, 176, 243, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    min-height: 15px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    :hover {
        background: rgba(0, 0, 0, 0.6);
    }
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-track-piece {
    background: #fff;
}

/**
 * end scrollbar style
 */
